@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebboldfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff/iranyekanwebregularfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "iranyekan", Tahoma, sans-serif;
  font-size: 0.8rem;
  color: #5c7eab;
}
#root {
  height: 100vh;
  display: flex;
  flex: 1;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
* {
  scrollbar-color: #555 #f5f5f5;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}
.scrollable {
  overflow: auto;
}
.dropdown-menu {
  font-size: 0.8rem;
}
.text-end {
  text-align: end;
}
.text-start {
  text-align: start;
}
.image-background {
  background-size: cover;
}
figure {
  margin: 0;
}
.blockquote-footer::before {
  content: " ";
}
.blockquote-footer {
  margin-bottom: 0;
}
.fw {
  flex-wrap: wrap;
}
.f {
  display: flex;
}
.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f.jb {
  justify-content: space-between;
}
.f.js {
  justify-content: flex-start;
}
.f.je {
  justify-content: flex-end;
}

.f.ac {
  align-items: center;
}
.fdc {
  display: flex;
  flex-direction: column;
}
.nav-tabs .nav-link {
  padding: 1rem;
  font-size: 0.9rem;
}

.wizard-tabs {
  background: #ebf8fc;
  position: sticky;
  top: 0px;
  z-index: 99;
  border: none;
  justify-content: space-between;
}
.wizard-tabs .nav-link {
  flex: 1;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
}

.wizard-tabs.nav-item.show .nav-link,
.wizard-tabs .nav-link.active {
  color: #fff;
  background-color: #528ca4;
  border: none;
}
.pointer {
  cursor: pointer;
}
.border-right {
  border-right: 1px solid #eee;
}
.sticky-top {
  position: sticky;
  top: 0;
}
.m0 {
  margin: 0;
}
input[type="file"] {
  display: none;
}
