.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5.5rem);
  position: absolute;
  width: calc(100% - 4rem);
  z-index: 9999;
}
@media (max-width: 991px) {
  .spinner-wrapper {
    width: 100%;
  }
}
.spinner-wrapper .donut {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(0, 0, 0, 0.69);
  border-top-color: #fbfbfb;
  animation: 1.5s spin infinite linear;
}
.spinner-wrapper.for-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.spinner-wrapper.no-bg {
  background: transparent;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
